<div class="footer">
  <div class="container-fluid">
    <p class="text-muted">
      <!-- credits -->
      <b class="glyphicon glyphicon-info-sign"></b>
      <a href="https://github.com/landrok/webstatus" data-toggle="modal" data-target="#documentationModal"><span class="text-muted">Web</span><span class="text-blue">Status</span> {#APP_VERSION#}</a>
      <!-- Embedded help -->
      <span class="pull-right">
        <b class="glyphicon glyphicon-question-sign"></b>
        <a href="{#BASEURL#}help.php">Help</a>
      </span>
    </p>
  </div>
</div>
