<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{if="null!==$app->getConfig(['global', 'webapp', 'title'])"}{$app->getConfig(['global', 'webapp', 'title'])} - {/if}{#APP_NAME#}</title>
{autoescape="off"}
<link rel="stylesheet" href="{#BASEURL#}asset/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="{#BASEURL#}asset/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{#BASEURL#}asset/css/theme.css">
<script src="{#BASEURL#}asset/jquery/jquery-3.2.1.min.js"></script>
<script src="{#BASEURL#}asset/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
{if="isset($headLibraries)"}{$headLibraries}{/if}
{/autoescape}
</head>
<body>
{include="navbar"}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 hidden-xs">
      <span class="pull-right text-muted">
        <b class="glyphicon glyphicon-time"></b> {$app->getStatusDate()} @ {$app->getHostname()}
      </span>
    </div>
{autoescape="off"}{$html}{/autoescape}
  </div>
</div>
<div class="col-sm-12 visible-xs">
  <span class="text-info">
    <b class="glyphicon glyphicon-time"></b> {$app->getStatusDate()} @ {$app->getHostname()}
  </span>
</div>

{include="layout.footer"}
{include="layout.documentation.modal"}
{if="isset($footerLibraries)"}{autoescape="off"}{$footerLibraries}{/autoescape}{/if}
{if="!isset($norefresh)"}
<script>
setTimeout(
  function() {
    window.location.reload();
  }, 
  60000
);
</script>
{/if}
</body>
</html>
