  <div class="col-sm-12">
    <h3>CPU/Memory 
      <span class="pull-right small">
      <form class="form-inline">
        <div class="form-group">
          <select class="form-control input-sm" name="refreshTime">
            <option value="30">30s</option>
            <option value="60" selected="true">1min</option>
            <option value="300">5min</option>
          </select>
        </div>
      </form>
      </span>
    </h3>
    <div id="cpu_mem_container"></div>
    <h3>Network In/Out</h3>
    <div id="network_container"></div>
  </div>
