<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{#BASEURL#}">
        <b class="glyphicon glyphicon-{$app->getConfig('global', 'webapp', 'icon-class')}"></b>
        {$app->getConfig('global', 'webapp', 'label')}
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
      <ul class="nav navbar-nav">
{autoescape="off"}{$app->getNavbarMenus()}{/autoescape}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {if="$app->getConfig('global', 'remote', 'remote.server')"}
        <li>
          <span class="navbar-brand">
            <span class="label label-info">
              <b class="glyphicon glyphicon-flag"></b> Remote server
            </span>
          </span>
        </li>
        {/if}
        {if="$app->getConfig('global', 'remote', 'remote.client')"}
        <li>
          <span class="navbar-brand">
            <span class="label label-info">
              <b class="glyphicon glyphicon-flag"></b> Remote client
            </span>
          </span>
        </li>
        {/if}
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav><!-- /.navbar -->
